In [1]:
#import required libraries
import pandas as pd

In [2]:
#loading the data
data=pd.read_excel(r"D:\Excel\releted to datascience excel files\marks_sheet.xlsx")

1. head() is used for displaying first 5 rows
2. tail() is used for displaying last 5 rows
3. if you want to print 10 rows of a dataset use head() with the arguments. head(10) or tail(10)

In [3]:
#print the first 5 rows
data.head()

,First_name,Last_name,Gender,Chemistry,Maths,Biology,English,Social,Hindi,Physics,Overall_marks,Full_name,Grades,Subject
0,Yogesh,Modepalli,Male,76,74,98,90,92,92,70,592,Yogesh Modepalli,A,Python
1,Paul,Revu,Male,55,50,38,88,88,88,69,476,Paul Revu,B,Java
2,Eswar,Banoth,Male,76,60,61,63,63,63,83,469,Eswar Banoth,D,C#
3,Vasanthi,Kalvani,Female,89,67,49,69,69,69,76,488,Vasanthi Kalvani,C,java
4,Ruya Khan,Mohamadh,Female,87,65,80,76,76,76,92,552,Ruya Khan Mohamadh,D,C++

columns() is used for display the column names in the dataset.(actually 'columns' does not need peranthisis)

In [4]:
data.columns

Index(['First_name', 'Last_name', 'Gender', 'Chemistry', 'Maths', 'Biology',
       'English', 'Social', 'Hindi', 'Physics', 'Overall_marks', 'Full_name',
       'Grades', 'Subject'],
      dtype='object')

shape() is used to print the no_of rows and no_columns in the given dataset respectively.(actually 'shape' does not need peranthisis)

In [5]:
data.shape

(20, 14)

mode() is used to print the 'mode' value(most repeated value) of perticular column

In [6]:
#finding the mode
mode=data["Physics"].mode()
print(mode)

0    76
dtype: int64

mean() is used to print the 'mean' value or 'average' value of a perticular column

In [7]:
#finding the mean
mean=data["Physics"].mean()
print(mean)

75.05

Quantile() is used print the perticular amount of data. quantile(0.25) is used to print the mean of the first 25% data. similarly quantile(0.50), quantile(0.75),quantile(1) respectively.

In [8]:
#calculating the quantiles
q1=data["Physics"].quantile(0.25)
q2=data["Physics"].quantile(0.50)
q3=data["Physics"].quantile(0.75)
q4=data["Physics"].quantile(1)

In [9]:
#printing the values
print("the first quantile",q1)
print("the second quantile",q2)
print("the third quantile",q3)
print("the fourth quqntile",q4)

the first quantile 68.25
the second quantile 74.0
the third quantile 87.0
the fourth quqntile 98.0

max() is used for print the maximum value from the perticular column

In [10]:
#finding the maximum value
max_data=data["Physics"].max()
print(max_data)

98

min() is used for print the minimum value from the perticular column

In [11]:
#finding the minimum value
min_data=data["Physics"].min()
print(min_data)

55

In [12]:
#finding the difference between the maximum value and minimum value or finding a Range
range_data=max_data-min_data
print(range_data)

43

to get lower bound and upper bound use quantile(0.25) and (0.75)

In [13]:
#Finding the Inter Quantile Range,with the help of upper bound value(0.75) and lower bound(0.25)
c1=data["Physics"].quantile(0.25)
c2=data["Physics"].quantile(0.75)

In [14]:
#printing the lower bound and upper_bound values
print("Lower_bound",c1)
print("Upper_bound",c2)

Lower_bound 68.25
Upper_bound 87.0

difference between lower bound and upper bound is called 'inter quartile range'

In [15]:
#finding the inter_quartile_range
iqr=c2-c1
#printing inter quantile range output
print("the Inter_Quantile_Range",iqr)

the Inter_Quantile_Range 18.75

#finding the variance

In [16]:
##steps to calculate Variance
# 1.calculate mean
# 2.calculate distance from the mean for each value/element
# 3. calculate the square distance
# 4.Take the average of squared distance

In [17]:
#1.calculating the mean
mean=data["Physics"].mean()
print("mean of the data set",mean)

mean of the data set 75.05

In [18]:
#2.calculate distance from the mean for each value/element
difference=data["Physics"]-mean
print("difference between mean and values in the data set",difference)

difference between mean and values in the data set 0     -5.05
1     -6.05
2      7.95
3      0.95
4     16.95
5     12.95
6    -12.05
7     -6.05
8      0.95
9     22.95
10   -15.05
11   -20.05
12    -3.05
13   -20.05
14     0.95
15    13.95
16    11.95
17    -5.05
18    -9.05
19    11.95
Name: Physics, dtype: float64

In [19]:
# 3. calculate the square distance
square_of_difference=difference**2
print("the square root of the the difference value is",square_of_difference)

the square root of the the difference value is 0      25.5025
1      36.6025
2      63.2025
3       0.9025
4     287.3025
5     167.7025
6     145.2025
7      36.6025
8       0.9025
9     526.7025
10    226.5025
11    402.0025
12      9.3025
13    402.0025
14      0.9025
15    194.6025
16    142.8025
17     25.5025
18     81.9025
19    142.8025
Name: Physics, dtype: float64

In [20]:
# 4.Take the average of squared distance
variance=square_of_difference.mean()
print("the variance of the dataset",variance)

the variance of the dataset 145.94750000000002

In [21]:
#4.Another way of calculating the "Varience" formule
var_data=data["Overall_marks"].var(ddof = 0)
print("the variance of the dataset",var_data)

the variance of the dataset 4916.4875

#finding the standard deveation

In [22]:
#finding the standard deveation
#just do the square root of the variation, then the result is called as Standard_Deveation
std_deviation= variance ** (1/2)
print("the standard deviation of the dataset is:--",std_deviation)

the standard deviation of the dataset is:-- 12.080873312803178

In [23]:
#calculating the standard deviation using the formula
std=data["Physics"].std(ddof=0)
std

12.080873312803178